.canvas {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;

  .canvas-container {
    height: 100%;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    padding: var(--padding-xs);
    background-color: var(--canvas-container);
    border-radius: 0 0 5px 5px;
    border-left: var(--border-width) var(--border-style) var(--border-color);
    border-right: var(--border-width) var(--border-style) var(--border-color);
    border-bottom: var(--border-width) var(--border-style) var(--border-color);

    canvas {
      background-color: var(--canvas-background);
      border: var(--border-width) var(--border-style) var(--border-color);
      -ms-touch-action: none;
      touch-action: none;
    }

    .preview-container {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .canvas {
    position: relative;
    .canvas-container {
      padding: var(--padding-xxs);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior: contain;

      .preview-container.scrolling {
        display: block;
        position: absolute;
        top: 64px;
        left: 14px;
        z-index: 100;
        border: 1px solid #000000;

        .preview {
          border: 1px solid #a43131;
          width: 20px;
          height: 20px;
        }
      }
    }

    ::-webkit-scrollbar {
      height: 20px;
    }

    ::-webkit-scrollbar-track {
      background: var(--scrollbar-track);
      border-radius: var(--border-radius);
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      border-radius: var(--border-radius);

      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
    }

    ::-webkit-scrollbar-button {
      display: none;
    }

    ::-webkit-scrollbar-thumb {
      background-image: url("@/assets/caret-left-right.-light.svg");
    }
  }
  /* Modo oscuro */
  [data-theme="dark"] {
    ::-webkit-scrollbar-thumb {
      background-image: url("@/assets/caret-left-right-dark.svg");
    }
  }
}
