.header {
  display: flex;
  align-items: center;
  padding: var(--padding-xs);
  background-color: var(--header-background);
  border-radius: 5px 5px 0 0;
  border: var(--border-width) var(--border-style) var(--border-color);
  position: relative;
  max-width: 100%;

  .header-buttons {
    display: flex;
    gap: var(--spacing-xxs);
    flex-grow: 1;

    .header-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      color: var(--button-text);
      background-color: transparent;
      transition: background-color 0.3s;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 0;

      &:hover {
        background-color: var(--button-hover);
      }

      &:active {
        background-color: var(--button-accent);
        color: var(--button-text-accent);
        border-color: var(--button-text-accent);
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        background-color: var(--button-disabled);
        color: var(--button-text-disabled);
        cursor: not-allowed;
      }
    }

    .theme-button {
      margin-left: auto;

      .header-button-icon {
        transition: transform 0.3s ease-out;
      }

      &:hover .header-button-icon {
        transform: rotate(25deg);
      }
    }
  }

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: var(--font-size-l);
    margin: 0;
    font-weight: bolder;

    span {
      color: var(--header-span);
    }
  }
}

@media (max-width: 768px) {
  .header {
    .title {
      font-size: var(--font-size-m);
    }
    .header-buttons {
      .header-button {
        width: 32px;
        height: 32px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
