.undo-redo {
  display: flex;
  gap: var(--spacing-xxs);
}

.undo-redo.mobile {
  display: none;
}

@media (max-width: 992px) {
  .undo-redo.mobile {
    display: flex;
    gap: var(--spacing-xs);
  }
}
