button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  color: var(--button-text);
  background-color: var(--button-color);
  transition: background-color 0.3s;

  border-radius: 5px;
  border: var(--border-width) var(--border-style) var(--border-color);

  cursor: pointer;

  padding: 0;

  &:hover {
    background-color: var(--button-hover);
  }

  &.active {
    background-color: var(--button-accent);
    color: var(--button-text-accent);
    border-color: var(--button-text-accent);
  }

  &:active {
    background-color: var(--button-accent);
    color: var(--button-text-accent);
    border-color: var(--button-text-accent);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: var(--button-disabled);
    color: var(--button-text-disabled);
    cursor: not-allowed;
  }
}

@media (max-width: 900px) {
  button {
    width: 32px;
    height: 32px;
  }
}
