button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  color: var(--button-text);
  background-color: var(--button-primary);
  transition: background-color 0.3s;

  border-radius: 5px;
  border: var(--border-width) var(--border-style) var(--button-border);

  cursor: pointer;

  padding: 0;

  &:hover {
    background-color: var(--sketch-secondary);
  }

  &:active {
    background-color: var(--sketch-accent);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
  }
}

@media (max-width: 900px) {
  button {
    width: 32px;
    height: 32px;
  }
}
