button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  color: var(--pure-white);
  background-color: var(--coral-pink);
  transition: background-color 0.3s;

  border-radius: 5px;
  border: 2px solid var(--pure-white);

  cursor: pointer;

  padding: 0;

  &:hover {
    background-color: var(--dark-coral-pink);
  }

  &:active {
    background-color: var(--dark-coral-pink);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: var(--light-gray);
    cursor: not-allowed;
  }
}

@media (max-width: 900px) {
  button {
    width: 32px;
    height: 32px;
  }
}