.canvas {
  display: flex;
  flex-direction: column;

  border-radius: 5px;

  background-color: var(--work-area-background);

  .canvas-container {
    height: 100%;
    padding: 10px;
    border-radius: 0 0 5px 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
      background-color: rgb(255, 255, 255);
      -ms-touch-action: none;
      touch-action: none;
    }
  }
}
