.colors {
  display: flex;
  justify-content: end;
  align-items: center;

  .colors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xxs);
    padding: var(--padding-xs);
    border-radius: 5px;
    background-color: var(--colors-background);
    border: var(--border-width) var(--border-style) var(--border-color);

    h2 {
      font-size: var(--font-size-s);
      margin: 0;
      height: 42px;
      width: 100%;
      background-color: var(--header-background);
      border: var(--border-width) var(--border-style) var(--border-color);
      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .palette-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border: var(--border-width) var(--border-style) var(--border-color);

      .color-swatch {
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

[type="color"] {
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: 5px;
  padding: 0;
  height: 42px;
  width: 100%;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: 0;
    border-radius: inherit;
  }

  &::-moz-color-swatch {
    border: 0;
    border-radius: inherit;
  }
}

@media (max-width: 992px) {
  .colors {
    .colors-container {
      padding: var(--padding-xxs);
      flex-direction: row;
      
      h2 {
        display: none;
      }
      
      .palette-grid {
        grid-template-columns: repeat(10, 1fr);
        gap: var(--spacing-xxs);
        border: none;

        .color-swatch {
          border: var(--border-width) var(--border-style) var(--border-color);
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  [type="color"] {
    width: 20px;
    height: 44px;
    border-radius: 0;
  }
}
