.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
}

.dropdown-content{
  position: absolute;
  height: auto;
  width: auto;
  bottom: 122px;
  right: 8px;

  background-color: var(--dropdown-background);
  border-radius: var(--border-radius);
  border: var(--border-width) var(--border-style) var(--border-color);
  padding: var(--padding-xxs);
  box-shadow: var(--box-shadow);
}
