.header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  background-color: var(--header-background);
  border: var(--border-width) var(--border-style) var(--header-border);

  .header-buttons {
    display: flex;
    gap: 5px;

    .upload-button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 42px;
      height: 42px;

      color: var(--button-text);
      background-color: var(--button-primary);
      transition: background-color 0.3s;

      border-radius: 5px;
      border: var(--border-width) var(--border-style) var(--header-border);

      cursor: pointer;
      
      padding: 0;

      &:hover {
        background-color: var(--sketch-secondary);
      }

      &:active {
        background-color: var(--sketch-accent);
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        background-color: var(--button-disabled);
        cursor: not-allowed;
      }
    }
  }
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--header-text);
  span {
    color: var(--sketch-accent);
  }
}

@media (max-width: 900px) {
  .header {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  label {
    width: 32px;
    height: 32px;
  }
}
