.toolbar {
  display: flex;
  justify-content: start;
  align-items: center;

  .toolbar-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: var(--spacing-xxs);

    padding: var(--padding-xs);
    border-radius: 5px;
    background-color: var(--toolbar-background);
    border: var(--border-width) var(--border-style) var(--border-color);
  }
}

@media (max-width: 900px) {
  .toolbar {
    .toolbar-container {
      display: flex;
      flex-direction: column;
    }
  }
}
