.toolbar {
  display: flex;
  justify-content: start;
  align-items: center;

  .toolbar-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 5px;

    padding: 10px;
    border-radius: 5px;
    background-color: var(--crimson-red);

    #CLEAR {
      grid-column: span 2;
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .toolbar {
    .toolbar-container {
      display:flex;
      flex-direction: column;
    }
  }
}