.toolbar {
  display: flex;
  justify-content: start;
  align-items: center;

  .toolbar-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: var(--spacing-xxs);

    padding: var(--padding-xs);
    border-radius: 5px;
    background-color: var(--toolbar-background);
    border: var(--border-width) var(--border-style) var(--border-color);
  }
}

.dropdown-menu {
  display: none;
}

@media (max-width: 992px) {
  .toolbar {
    #PICKER {
      display: none;
    }

    .toolbar-container {
      display: none;
    }
  }

  .dropdown-menu {
    display: block;
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
  }

  .dropdown-content.open {
    display: block;
  }
}
