.app {
  display: grid;
  grid-template-areas:
    "color-palette canvas toolbox"
    "stroke-settings stroke-settings stroke-settings";
  grid-template-columns: 1fr 1fr 1fr;

  place-content: center;
  gap: var(--spacing-s);
  height: 100dvh;
}

.canvas {
  grid-area: canvas;
}

.color-palette {
  grid-area: color-palette;
}

.toolbox {
  grid-area: toolbox;
}

.stroke-settings {
  grid-area: stroke-settings;
}

.controls {
  display: contents;
}

@media (max-width: 992px) {
  .app {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    max-width: 100%;
  }
}
