.app {
  display: grid;
  grid-template-areas:
    "color-palette canvas toolbox"
    "stroke-settings stroke-settings stroke-settings";
  grid-template-columns: 1fr 1fr 1fr;

  place-content: center;
  gap: var(--spacing-s);
  height: 100dvh;
}

.canvas {
  grid-area: canvas;
}

.color-palette {
  grid-area: color-palette;
}

.toolbox {
  grid-area: toolbox;
}

.stroke-settings {
  grid-area: stroke-settings;
}

.controls {
  display: contents;
}

@media (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .controls {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: var(--spacing-xs);

    .color-palette {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .toolbox {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .stroke-settings {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    .undo-redo {
      grid-column: span 2 / span 4;
      grid-row: 2 / 3;
    }
  }
}
