.grid {
  display: grid;
  grid-template-areas:
    "colors canvas toolbar"
    "actions actions actions";
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
}

.colors {
  grid-area: colors;
}

.canvas {
  grid-area: canvas;
}

.toolbar {
  grid-area: toolbar;
}

.actions {
  grid-area: actions;
}

@media (max-width: 900px) {
  .grid {
    grid-template-areas:
      "canvas canvas canvas"
      "colors actions toolbar";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .colors {
      display: flex;
      justify-content: start;
      align-items: start;
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: start;
    }

    .toolbar {
      display: flex;
      justify-content: end;
      align-items: start;
    }
  }
}
